<section class="introduction-sec">
	<h1 class="text-center">
		CS 201 Course Syllabus
	</h1>

	<dl class="dl-horizontal">
		<dt>
			Instructor
		</dt>

		<dd>
			Russ Abbott and Eric Liao (TA)
		</dd>

		<dt>
			Lecture Hours
		</dt>

		<dd>
			Monday, Wednesday - 9:50 ~ 12:45 @ ET A-309
		</dd>

		<dt>
			Office Hours
		</dt>

		<dd>
			<table class="off-hour-table table table-bordered">
				<thead>
					<tr>
						<th>
							Russ Abbott
						</th>
						<th>
							Eric Liao (TA)
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Email any time. </br>
							In person by appointment.
						</td>
						<td>
							Mon 9am - 1:30pm & 3:20 - 6pm @ Computer Science Office(E&T A-322),</br>
							Tue 11:30 - 6pm @ Computer Science Office(E&T A-322) </br>
							Email any time.
						</td>
					</tr>
				</tbody>
			</table>

		</dd>

		<dt>
			Emails
		</dt>

		<dd>
			<table class="off-hour-table table table-bordered">
				<thead>
					<tr>
						<th>
							Russ Abbott
						</th>
						<th>
							Eric Liao (TA)
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							russ.abbott AT gmail DOT com
						</td>
						<td>
							rcliao01 AT gmail DOT com
						</td>
					</tr>
				</tbody>
			</table>
		</dd>

		<dt>
			Course Number
		</dt>

		<dd>
			CS 201
		</dd>

		<dt>
			Course Name
		</dt>

		<dd>
			Introduction to Programming
		</dd>

		<dt>
			Credits
		</dt>

		<dd>
			5 Units
		</dd>

		<dt>
			Contact Hours
		</dt>

		<dd>
			7 Hours/Week
		</dd>



		<dt>
			Text Book
		</dt>

		<dd>
			Big Java: Early Objects by Cay S. Horstmann </br>
			ISBN: 978-1-118-43111-5
		</dd>



		<dt>
			Course Information
		</dt>

		<dd>
			<ol class="lower-alpha">
				<li>
					Algorithm development for structured programming and computer programming; designing, coding, debugging, and documenting programs. Laboratory activities on problem analysis and software development
				</li>
				<li>
					Prerequisites: Math 104B: College Algebra and Trigonometry. 
				</li>
				<li>
					This course is <b>required</b> in the BS program
				</li>
			</ol>
		</dd>

		<dt>
			Course Goals
		</dt>

		<dd>
			The Student Learning Outcomes that are addressed by the course are:

			<ul class="none">
				<li>
					SLO #2. Students will be able to demonstrate fluency in at least one programming language and acquaintance with at least three more.
				</li>
				<li>
					SLO #3. Students will have a strong foundation in the design, analysis, and application of many types of algorithms.
				</li>

				<li>
					SLO #5. Students will have the training to analyze problems and identify and define the computing requirements appropriate to their solutions.
				</li>

				<li>
					SLO #6. Students will have the training to design, implement, and evaluate large software systems working both individually and collaboratively.
				</li>

				<li>
					SLO #7. Students will be able to communicate effectively orally and in writing.
				</li>
			</ul>

			Other outcomes of instruction: At the end of the course students are able to:
			<ul>
				<li>
					Divide a problem into its logical set of components
				</li>
				<li>
					Have a good understanding of the basic programming concepts
				</li>
				<li>
					Create simple classes with a few methods
				</li>
				<li>
					Have a good understanding of how a good program design reduces coding and debugging time
				</li>
				<li>
					Design and code mid-level problems
				</li>
			</ul>
		</dd>

		<dt>
			Brief List of Topics
		</dt>

		<dd>
			<ul class="none">
				<li> Chapter 1. Introduction </li>
				<li> Chapter 2. Using Objects </li>
				<li> Chapter 3. Implementing Classes and Methods </li>
				<li> Chapter 4. Fundamental Data Types </li>
				<li> Chapter 5. Decisions </li>
				<li> Chapter 6. Iteration </li>
				<li> Chapter 7. Arrays and Array Lists </li>
			</ul>
		</dd>

		<dt>
			Laboratory Projects
		</dt>

		<dd>
			Each week students will complete a 3-hour lab projects on selected topics, except the exam weeks.
		</dd>

		<dt>
			Grading Policy
		</dt>

		<dd>
			<!--Div that will hold the pie chart-->
		    <div google-chart chart="chart" class="googleChart"></div>
		    <div class="clearfix"></div>

			Participation 5%, Attendance 10%, Lab 20%, Quiz 25%, Projects 10%, Midterm 10%, Final 20% </br>
			A 90 - 100 </br>
			B 80 - 90 </br>
			C 70 - 80 </br>
			NC below 70 </br>
		</dd>

		<dt>
			Academic Integrity
		</dt>

		<dd>
			Cheating will not be tolerated. Cheating on any assignment or exam will be taken seriously. All parties involved will receive a grade of F for the course and are reported to the proper authorities.
		</dd>

		<dt>
			ADA Statement
		</dt>

		<dd>
			Reasonable accommodation will be provided to any student who is registered with the Office of Students with Disabilities and requests needed accommodation.
		</dd>

	</dl>

</section>